---
import ProjectsIcon from "../../icons/ProjectsIcon.astro";
import ProjectArticle from "./ProjectArticle.astro";
import { TAGS } from "../../data/Tags.astro";

const PROJECTS = [
    {
        title: "Summoner Stats",
        description:
            "Creado con React y Node mediante Vite - Es una plataforma para analizar jugadores de League of Legends. Actualmente en desarrollo...",
        link: "https://sumstats.up.railway.app/",
        code: "https://github.com/ParrizasDeveloper/summoner-stats",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.React, TAGS.Node],
        image: "/projects/sumstats.webp",
    },
    {
        title: "Portfolio",
        description:
            "Creado con Astro - Web en la que me puedes conocer un poco y muestro mis conocimientos en el desarrollo web.",
        link: "#",
        code: "https://github.com/ParrizasDeveloper/portfolio",
        tags: [TAGS.HTML, TAGS.Astro, TAGS.Tailwind],
        image: "/projects/portfolio.webp",
    },
];
---

<div id="projects" class="flex flex-col items-center w-full lg:max-w-4xl md:max-w-3xl pt-20 pb-10">
    <h2
        class="flex items-center gap-2 mb-10 font-bold text-4xl text-gray-50 w-full lg:w-auto"
    >
        <ProjectsIcon className="h-9" />
        Proyectos
    </h2>
    <div class="flex flex-col gap-14">
        {
            PROJECTS.map((project) => (
                <ProjectArticle
                    title={project.title}
                    description={project.description}
                    link={project.link}
                    code={project.code}
                    tags={project.tags}
                    image={project.image}
                />
            ))
        }
    </div>
</div>
