---
import GitHub from "../../icons/Others/GitHub.astro";
import Chain from "../../icons/Chain.astro";

const { title, description, link, code, tags, image } = Astro.props;
---

<article
    class="flex flex-col items-center w-full gap-5 md:flex-row md:items-start"
>
    <div class="max-h-80 overflow-hidden md:w-2/5 rounded-lg shadow-xl shadow-purple-700/25">
        <img src={image} class="rounded-lg" />
    </div>
    <div class="flex flex-col gap-4 md:w-3/5">
        <h3 class="text-xl text-orange-300">{title}</h3>
        <p class="text-gray-400">{description}</p>
        <div class="flex flex-wrap gap-3">
            {
                tags.map((tag) => (
                    <div
                        class={`iconTag flex gap-2 items-center h-7 rounded-2xl px-3 py-1 ${tag.class}`}
                    >
                        <div class="flex items-center w-4 h-full">
                            {<tag.icon />}
                        </div>
                        <span class="font-medium text-sm">{tag.name}</span>
                    </div>
                ))
            }
        </div>
        <div class="flex gap-4 mt-4">
            <a
                href={code}
                target="_blank"
                class="flex gap-2 items-center p-3 rounded-xl bg-neutral-400 text-black font-semibold cursor-pointer hover:scale-110 transition-all"
            >
                <div class="w-7"><GitHub /></div>
                <span>Código</span>
            </a>
            <a
                href={link}
                target="_blank"
                class="flex gap-2 items-center p-3 rounded-xl bg-neutral-400 text-black font-semibold cursor-pointer hover:scale-110 transition-all"
            >
                <div class="w-7"><Chain /></div>
                <span>Visualizar</span>
            </a>
        </div>
    </div>
</article>
<style is:global>
    .iconTag svg {
        width: 100%;
    }
</style>
